<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Primary Nav -->
	<ul class="flex b grey-3">

		<li><a href="/" class="pa3 no-underline db">Home</a></li>
		<li><a href="/products" class="pa3 no-underline db">About</a></li>
		
		<li><a href="/products" class="pa3 no-underline db">News</a></li>

		<li><a href="/products" class="pa3 no-underline db">For Residents</a></li>

		<li><a href="/post" class="pa3 no-underline db">Planning/Development</a></li>

		<li><a href="/values" class="pa3 no-underline db">Governance</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact Us</a></li>


	</ul>

</nav>
