{{ partial "head" . }}
{{ partial "nav" . }}
  <div class="mw6 center ph3 pv4">
    <h2 class="f2 lh-title b mb3">Bay Creek Bulletin {{.Date.Format "Jan 2006" }}</h2>
    <div class="flex justify-between grey-3">
      <h2 class="f3 b lh-title mb1 primary">{{ .Title }}</h2>
      <p class="mid-gray lh-title mb2">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <p class="mb0">{{ .Description }}</p>
      <p class="link b dib black mb0">Download →</p> 
      <div class="w-25 fl v-mid" >
        <a href="{{ .Params.Filename }}" target="_blank" >
          <img src="/img/pdf-icon.png" />
        </a>
      </div>
    </div>
    <div class="cms mw6">
      {{ .Content }}
    </div>
  </div>
{{ partial "footer" . }}
